
@model HomeViewModel
@{
    ViewData["Title"] = "Product List";
}

<style>
    .item-photo {
        width: 100%;
        height: 200px; /* Adjust the height as per your requirements */
        object-fit: cover;
    }

    /* Style for the modal container */
    .modal-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* Style for the modal content */
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        max-width: 30%;
        max-height: 80%;
        overflow-y: auto;
    }

    /* Style for the close button */
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .detail-link:before {
        content: attr(data-hover);
    }

    .detail-link:hover:before {
        content: attr(data-text);
    }

    /* Additional styles for the modal content if needed */
</style>

<!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 0px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            @if (TempData["SuccessMessageForAddToCart"] != null)
            {
                <div class="container pt-5 pb-3">
                    <div class="alert alert-success">
                        @TempData["SuccessMessageForAddToCart"]
                    </div>
                </div>

            }
            @if (TempData["ErrorMessageForAddToCart"] != null)
            {
                <div class="container pt-5 pb-3">
                    <div class="alert alert-warning">
                        @TempData["ErrorMessageForAddToCart"]
                        <partial name="_LoginPartial" />
                    </div>
                </div>

            }
            <h3 class="display-4 text-white text-uppercase">All Accessories</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="~/Home/Index">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">All Accessories</p>
            </div>
            <!-- this drop down i want to remove right bottom cornor of header-->
            <div class="col-lg-3 d-none d-lg-block">

                <a class="d-flex align-items-center justify-content-between bg-secondary w-100 text-decoration-none"
                   data-toggle="collapse" href="#navbar-verticalIndex" style="height: 67px; padding: 0 30px;">
                    <h5 class="text-primary m-0">Search By Filter</h5>
                    <i class="fa fa-angle-down text-primary"></i>
                </a>

                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
                     id="navbar-verticalIndex" style="width: calc(100% - 30px); z-index: 9;">
                    <div class="navbar-nav w-100">

                        <div class="nav-item dropdown">
                            <a href="" class="nav-link" data-toggle="dropdown">Brand<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">

                                @foreach (var data in Model.brandViewModels)
                                {
                                    <a href="~/Home/SearchByBrand?Id=@data.Id" class="nav-item nav-link">@data.Name</a>
                                }
                            </div>
                        </div>

                        <div class="nav-item dropdown">
                            <a href="" class="nav-link" data-toggle="dropdown">Computer<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="~/Home/AllComputer" class="nav-item nav-link">All Computer</a>
                                @foreach (var data in Model.computerAmyoAsarViewModels)
                                {
                                    <a href="~/Home/SearchByComputerType?Id=@data.Id" class="nav-item nav-link">@data.Name</a>
                                }
                            </div>
                        </div>

                        <div class="nav-item dropdown">
                            <a href="" class="nav-link" data-toggle="dropdown">Accessories<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">

                                <a href="~/Home/AllAccessories" class="nav-item nav-link">All Accessories</a>

                                @foreach (var data in Model.accessoriesTypeViewModels)
                                {
                                    <a href="~/Home/SearchByAccessoriesType?Id=@data.Id" class="nav-item nav-link">@data.Name</a>
                                }
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
            <!-- this drop down i want to remove right bottom cornor of header-->
        </div>
    </div>
</div>
<!-- Header End -->
<!-- item Start -->
<div class="container-fluid py-5" style="margin-top: -90px;">
    <div class="container pt-5 pb-3">
        <div class="row">
            @foreach (var data in Model.itemViewModels)
            {
                var qty = "No Stock";
                var _fontColor = "red";
                if (data.Quantity > 0)
                {
                    qty = data.Quantity + "(Qty)";
                    _fontColor = "";
                }
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">

                        @if (!string.IsNullOrEmpty(data.PhotoPath))
                        {
                            <img class="img-fluid item-photo" src="@Url.Content(data.PhotoPath)" alt="Computer Photo" />
                        }
                        else
                        {
                            <span>No Photo</span>
                        }
                    </div>

                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0" style="color:@_fontColor">
                                @qty
                            </small>

                            <small class="m-0">@data.Price</small>
                        </div>
                        <a class="h6 detail-link" href="javascript:void(0)" onclick="showModal('@data.Id')" data-text="Click for Detail" data-hover="@data.Name"></a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">

                                <div class="button-container">
                                    @if (data.Quantity == 0)
                                    {
                                        <span class="btn btn-disabled">Add to cart</span>
                                        <span class="btn btn-disabled">Order</span>

                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" href="~/Home/AddToCart?Id=@data.Id">Add to cart</a>
                                        <button type="button" class="btn btn-warning btn-sm" role="button" onclick="showOrderForm('@data.Id')">Order</button>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- item End -->
<!-- Add a modal template -->
<div id="modalContainer" class="modal-container">
    <div class="modal-content">
        <span class="close-btn" onclick="hideModal()">&times;</span>
        <!-- Placeholder for the detailed view content -->
        <div id="modalContent"></div>
    </div>
</div>

<script>
    function showModal(itemId) {
        // Make an AJAX request to fetch the detail view content based on the computerId
        // Replace the following line with the actual URL to your action that returns the detail view content
        const url = `/Home/Details?Id=${itemId}`;

        fetch(url)
            .then(response => response.text())
            .then(data => {
                // Display the detail view content in the modal
                document.getElementById('modalContent').innerHTML = data;
                // Show the modal
                document.getElementById('modalContainer').style.display = 'block';
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function hideModal() {
        // Hide the modal
        document.getElementById('modalContainer').style.display = 'none';
    }
</script>

<div id="orderForm" class="overlay">
    <div class="container">
        <h3>Order Details</h3>
        @if (ViewBag.UserId == null)
        {
            <form action="/Home/DirectToOrder" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="UserName" name="UserName" required>
                </div>

                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="hidden" id="itemIdInput" name="ItemId">
                    <input type="number" class="form-control" id="phone" name="PhoneNumber" required>
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea rows="3" type="text" class="form-control" id="address" name="Address" required></textarea>
                </div>

                <div class="form-group">
                    <label for="kpayPhoto">KBZ Pay Screenshot Photo:</label>
                    <input type="file" class="form-control-file" id="kpayPhoto" name="Photo" required>
                </div>
                <button type="button" class="btn btn-secondary" id="closeOrderForm" onclick="hideOrderForm()">Cancel</button>
                <button type="submit" class="btn btn-primary" id="confirmOrder">Confirm</button>
            </form>
        }
        else
        {
            <form action="/Home/DirectToOrder" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="hidden" id="itemIdInput" name="ItemId">
                    <input type="number" class="form-control" id="phone" name="PhoneNumber" required>
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea rows="3" type="text" class="form-control" id="address" name="Address" required></textarea>
                </div>

                <div class="form-group">
                    <label for="kpayPhoto">KBZ Pay Screenshot Photo:</label>
                    <input type="file" class="form-control-file" id="kpayPhoto" name="Photo" required>
                </div>
                <button type="button" class="btn btn-secondary" id="closeOrderForm" onclick="hideOrderForm()">Cancel</button>
                <button type="submit" class="btn btn-primary" id="confirmOrder">Confirm</button>
            </form>
        }
    </div>
</div>


<script>

    function showOrderForm(itemId) {
        $('#itemIdInput').val(itemId);
        document.getElementById("orderForm").style.display = "block";
    }

    function hideOrderForm() {
        document.getElementById("orderForm").style.display = "none";
    }

</script>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<style>
    .overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        display: none;
        z-index: 9999;
        border: 1px solid black;
    }
</style>
