@model IList<ComputerAmyoAsarViewModel>

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
</head>

@{
    ViewData["Title"] = "ComputerType List";
}

@if (TempData["CreateMessageSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["CreateMessageSuccess"]
    </div>
}
@if (TempData["CreateMessageFail"] != null)
{
    <div class="alert alert-danger">
        @TempData["CreateMessageFail"]
    </div>
}
@if (TempData["EditMessageSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["EditMessageSuccess"]
    </div>
}
@if (TempData["EditMessageFail"] != null)
{
    <div class="alert alert-danger">
        @TempData["EditMessageFail"]
    </div>
}

<h1>ComputerType List</h1>

<table id="BatchTable" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td>@f.Name</td>
                <td>
                    <a href="/ComputerAmyoAsar/Update?Id=@f.Id" class="btn btn-warning" role="button">Edit</a>
                    <a href="/ComputerAmyoAsar/Delete?Id=@f.Id" onclick="return confirm('Please confirm')" class="btn btn-danger" role="button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#BatchTable').DataTable({
                "paging": true,
                "ordering": true,
                "searching": true,
                "lengthChange": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "paginate": {
                        "previous": "<",
                        "next": ">"
                    }
                }
            });
        });
    </script>
}
