@{
    ViewData["Title"] = "User Cart";
    var totalPrice = 0;
    var totalQuantity = 0;
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="container pt-5 pb-3">
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
            <partial name="_LoginPartial" />
        </div>
    </div>
}

@if (ViewBag.UserEmail != null)
{
  
    @if (TempData["SuccessMessageForOrder"] != null)
    {
        <div class="container">
            <div class="alert alert-success">
                @TempData["SuccessMessageForOrder"]
            </div>
        </div>
    }

<div class="container pt-5 pb-3">
    @if (TempData["ItemRemoveSuccessMessage"] != null)
    {
            <div class="alert alert-success">
                @TempData["ItemRemoveSuccessMessage"]
            </div>
    }
    @if (TempData["ItemPlusConditionFromCartSuccessMessage"] != null)
    { 
            <div class="alert alert-success">
                @TempData["ItemPlusConditionFromCartSuccessMessage"]
            </div>
       
    }
    @if (TempData["ItemPlusConditionFromCartFailMessage"] != null)
    {
            <div class="alert alert-danger">
                @TempData["ItemPlusConditionFromCartFailMessage"]
            </div>
    }
    @if (TempData["ItemMinusConditionFromCartSuccessMessage"] != null)
    {
            <div class="alert alert-success">
                @TempData["ItemMinusConditionFromCartSuccessMessage"]
            </div>
    }
    <table id="BatchTable" class="table table-sm" style="width: 50%; border: 1px solid #dee2e6;">
        <thead>
            <tr>
                <th colspan="4" style="border-bottom: 1px solid #dee2e6;">
                    <h3>Your Cart (@ViewBag.UserEmail)</h3>
                </th>
            </tr>
            <tr>
                <th style="border-bottom: 1px solid #dee2e6; border-right: 1px solid #dee2e6;">Item Name</th>
                <th style="border-bottom: 1px solid #dee2e6; border-right: 1px solid #dee2e6;">Price</th>
                <th style="border-bottom: 1px solid #dee2e6; border-right: 1px solid #dee2e6;">Quantity</th>
                <th style="border-bottom: 1px solid #dee2e6;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                totalPrice += data.TotalPrice;
                totalQuantity += data.Quantity;
                <tr>
                    <td style="border-right: 1px solid #dee2e6;">@data.ItemName</td>
                    <td style="border-right: 1px solid #dee2e6;">@data.Price</td>
                    <td style="border-right: 1px solid #dee2e6;">
                        <div class="quantity-button">
                            <a href="/Home/ItemMinusConditionFromCart?Id=@data.Id" class="icon-button minus"><i class="fas fa-minus"></i></a>
                            <span class="quantity">@data.Quantity</span>
                            <a href="/Home/ItemPlusConditionFromCart?Id=@data.Id" class="icon-button plus"><i class="fas fa-plus"></i></a>
                        </div>
                    </td>
                    <td>
                        <a href="/Home/ItemRemoveFromCart?Id=@data.Id" class="btn btn-warning btn-sm" role="button">Remove</a>
                    </td>
                </tr>
            }
        <tr>
            <td style="border-top: 1px solid #dee2e6; border-right: 1px solid #dee2e6;"><b>Total Amount</b></td>
            <td style="border-top: 1px solid #dee2e6; border-right: 1px solid #dee2e6;"><b>@totalPrice</b></td>

            <td style="border-top: 1px solid #dee2e6; border-right: 1px solid #dee2e6;"><b>@totalQuantity</b></td>
            <td style="border-top: 1px solid #dee2e6;">
                <button type="button" id="orderButton" class="btn btn-warning btn-sm" role="button" onclick="showOrderForm()">Order</button>
            </td>
        </tr>
           
        </tbody>
    </table>
    <div id="orderForm" class="overlay">
        <div class="container">
            <h3>Order Details</h3>
            <form action="/Home/Order" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea rows="3" type="text" class="form-control" id="address" name="Address" required></textarea>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="number" class="form-control" id="phone" name="PhoneNumber" required>
                </div>
                <div class="form-group">
                    <label for="kpayPhoto">KBZ Pay Screenshot Photo:</label>
                    <input type="file" class="form-control-file" id="kpayPhoto" name="Photo" required>
                </div>
                <button type="button" class="btn btn-secondary" id="closeOrderForm" onclick="hideOrderForm()">Cancel</button>
                <button type="submit" class="btn btn-primary" id="confirmOrder">Confirm</button>
            </form>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            $('#BatchTable').dataTable();
        });
        function showOrderForm() {
            document.getElementById("orderForm").style.display = "block";
        }

        function hideOrderForm() {
            document.getElementById("orderForm").style.display = "none";
        }

    </script>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<style>
    .overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        display: none;
        z-index: 9999;
        border: 1px solid black;
    }
</style>
